<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Add a new product</title>
</head>

<body>
    <a href="./#/products">
        <- Back to product listings</a>
            <p />
            <form ng-submit="submit()" ng-controller="addNewController">
                <table>
                    <tr>
                        <th colspan="2" scope="row">Enter new product info</th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div align="right">Name:</div>
                        </th>
                        <td>
                            <input type="text" ng-model="text" name="txtProdName" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div align="right">Description:</div>
                        </th>
                        <td>
                            <input type="text" ng-model="text" name="txtProdDesc" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div align="right">Price:</div>
                        </th>
                        <td>
                            <input type="number" ng-model="amount" name="txtProdPrice" />(USD)</td>
                    </tr>
                    <tr>
                        <th colspan="2" scope="row">
                            <input type="submit" id="submit" value="Add product" />
                        </th>
                    </tr>
                </table>
            </form>
</body>

</html>